* {
  color: #ffffff;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  margin-left: 10rem;
  column-gap: 150px;
}

.description {
  text-align: left;
}

.profile-image {
  height: 300px;
  border-radius: 0.5rem;
  object-fit: scale-down;
}

.logo {
  width: 100px;
}

.footer {
  width: 100%;
  text-align: center;
}
